$primary:  #5265E1;
//$primary:  black;


$secondary:#FA5959;
$enable-shadows: true;
$prefix: "mo-";

@import "node_modules/bootstrap/scss/bootstrap";


.navbar-toggler-icon {
  background-image: url("./Imagenes/icon-hamburger.svg") !important;
  
}

.align{
  padding: 0px !important;
  margin: 0px !important;
}
.nav-link {
  color: grey;
}
p{
  color: grey;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Esto asegura que los elementos estén separados */
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end; /* Asegura que los enlaces se alineen a la derecha */
}


.login-fondo{
    background-color: $secondary;
    color: white;
    border-radius: 8px;
    padding-inline: 3.5rem !important ;
}

.nav-link {
    margin-right: 2.25rem; // Añade separación entre todos los enlaces
  }

  .negrita{
    font-weight: bolder;
  }

  .btn-getIt{
    background-color:aquamarine;
    margin-left: 1rem;
  }

  .letra-parrafo{
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
  }

  .make-fixed{
    position: fixed;
    top:0;
    background-color: white;
  width: 100vw;
  z-index:9999;
 
  }
  
  .mt-10{
    margin-top: 8rem;
   
    
     
  }

  .marc{
    border: 3px solid red;
  }

  .tab-content{
    width: 85% !important;
  }

  .fit{
    
      max-width: 100%;
      height: auto;
      display: block;
  
  
  }

 
    
  
  @media(max-width:576px){
    .text-main{
      h1{
        text-align: center;
       }

      p{
        text-align: center;
        font-size: 1.2rem;
      }
      
    }

    .container-butons{
      justify-content: center;
      margin-top: 1rem;
      button{
        padding: 0.8rem;
        font-weight: bold;
      }
      
    }

    .container-feature{
      margin-top: 3rem;
    }
    .nav-item {
      border-bottom: 1px solid grey;
     
    }
  
    .nav-item:first-child {
      border-top: 1px solid grey; /* Aplica borde arriba solo al primer elemento */
    }
  
    .nav-link{
      margin:0px !important;
    }
    
  }

  
  
  .tab-content {
    width: 70%; /* Hace que ocupe todo el ancho disponible */
  }
  