$primary:  #5265E1;
//$primary:  black;


$secondary:#FA5959;
$enable-shadows: true;
$prefix: "mo-";

@import "node_modules/bootstrap/scss/bootstrap";






.login-fondo{
    background-color: $secondary;
    color: white;
    border-radius: 8px;
    padding-inline: 3.5rem !important ;
}

.nav-link {
    margin-right: 2.25rem; // Añade separación entre todos los enlaces
  }

  .negrita{
    font-weight: bolder;
  }

  .btn-getIt{
    background-color:aquamarine;
    margin-left: 1rem;
  }

  .letra-parrafo{
    font-weight: bold;
    font-size: 1.5rem;
  }

  .make-fixed{
    position: fixed;
    top:0;
    background-color: white;
  width: 100vw;
 
  }
  
  .mt-10{
    margin-top: 8rem;
   
    
     
  }
    
  
  @media(max-width:576px){
    .text-main{
      h1{
        text-align: center;
       }

      p{
        text-align: center;
        font-size: 1.2rem;
      }
      
    }

    .container-butons{
      justify-content: center;
      margin-top: 1rem;
      button{
        padding: 0.8rem;
        font-weight: bold;
      }
      
    }
  }
  
  