
$primary:  #5265E1;
$secondary:#FA5959;

$accordion-icon-color: blue;


$enable-shadows: true;
$prefix: "mo-";

@import "node_modules/bootstrap/scss/bootstrap";


.navbar-toggler-icon {
  background-image: url("./Imagenes/icon-hamburger.svg") !important;
  
}

.align{
  padding: 0px !important;
  margin: 0px !important;
}
.nav-link {
  color: grey;
  margin-right: 2.25rem; 

}
p{
  color: grey;
}

.navbar {
  display: flex;
  justify-content: space-between; /* Esto asegura que los elementos estén separados */
  width: 100%;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end; /* Asegura que los enlaces se alineen a la derecha */
}


.login-fondo{
    background-color: $secondary;
    color: white;
    border-radius: 8px;
    padding-inline: 3.5rem !important ;
}



  .negrita{
    font-weight: bolder;
  }

  

  .btn-light{
    border: 2px solid #fff;
    background-color: white;
    color: #1c1b1b;
    margin-left: 1rem;
  }

  .hero-shape {
    background-color: #5265E1;
    border-bottom-left-radius: 50rem;
    border-top-left-radius: 50rem;
    width: 70%;
    height: 70%;
    position: absolute;
    bottom: 0;
    right: -2rem;
    z-index: -1;
}

.hero-shape-rev {
  background-color: #5265E1; 
  border-bottom-right-radius: 50rem; 
  border-top-right-radius: 50rem; 
  width: 70%; 
  height: 70%; 
  position: absolute;
  bottom: -3rem; 
  left: -1.8rem; 
  z-index: -1; 
}




  .letra-parrafo{
    font-weight: bold;
    color: black;
    font-size: 1.5rem;
  }

  .make-fixed{
    position: fixed;
    top:0;
    background-color: white;
  width: 100vw;
  z-index:9999;
 
  }
  
  .mt-10{
    margin-top: 8rem;
   
    
     
  }

  .marc{
    border: 3px solid red;
  }

  .tab-content{
    width: 85% !important;
  }

  .fit{
    
      max-width: 100%;
      height: auto;
      display: block;
  
  
  }

  .custom-card{

    width: 14rem;
    .card-img-top {
      width: 100%; /* La imagen debe ajustarse al ancho del contenedor */
      height: auto; /* Asegura que la imagen mantenga su proporción */
    }
    img{
      
      padding:4rem ;
      padding-bottom: 1rem;
      padding-top: 1rem;
    }

    .card-body {
      text-align: center;
    }
    .separator {
      border-top: 3px dotted #ccc; /* Límite superior discontínuo gris claro */
     margin-top: 1rem;
     margin-bottom: 1.5rem;
    }

    box-shadow: 0px 6px 12px -3px rgba(0, 0, 0, 0.2);
    margin-left: auto; 
    margin-right: auto; 
  }

  .custom-col:nth-child(2) {
    margin-top: 3rem;
}

.custom-col:nth-child(3) {
    margin-top: 6rem;
}

.tab-content {
  width: 70%;
}








    
  
  @media(max-width:576px){
    .text-main{
      h1{
        text-align: center;
       }

      p{
        text-align: center;
        font-size: 1.2rem;
      }
      
    }

    .container-butons{
      justify-content: center;
      margin-top: 1rem;
      button{
        padding: 0.8rem;
        font-weight: bold;
      }
      
    }

    .container-feature{
      margin-top: 3rem;
    }
    .nav-item {
      border-bottom: 1px solid grey;
     
    }
  
    .nav-item:first-child {
      border-top: 1px solid grey; /* Aplica borde arriba solo al primer elemento */
    }
  
    .nav-link{
      margin:0px !important;
    }

    .custom-col {
      display: flex;
      justify-content: center;
      

    }

    .custom-col:nth-child(3) {
      margin-top: 3rem;
    }
    
  }

  
  
 